$text-color: #eee;
$text-color-darker: #ccc;
$text-color-hover: #5399e9;
$text-color-hover2: #8abcf5;
$bg-color: #090b25;

$color-yellow: #ebad04;
$color-blue-dark: #004286;
$color-blue-darker: #022775;
$color-cyan: #25c9f6;
$color-cyan-light: #7be4f9;

$color-gray-light: #394357;
$color-gray: #30343d;
$color-gray-dark: #252d3b;
$color-gray-darker: #212121;

$color-black: #141b16;
$color-black-dark: #000000;

$alpha-10: 0.1;
$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-40: 0.4;
$alpha-50: 0.5;
$alpha-60: 0.6;
$alpha-70: 0.7;
$alpha-80: 0.8;
$alpha-90: 0.9;
$alpha-100: 1.0;